.detailContainer {
  display: flex;
  gap: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 60rem;
  padding: 1rem;
  margin: 4rem auto 4rem auto;
  position: relative;
}

.detailImg {
  max-width: 30rem;
}

.detailImg img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 5px;
}

.detailInfo h1 {
  color: #747373;
}

.detailInfo ul {
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

.detailInfo ul li {
  margin-bottom: 0.5rem;
}

.detailContainer a {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: all 0.3s ease-in-out 0s;
}

.detailContainer a:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in;
}

@media (max-width: 850px) {
  .detailImg {
    max-width: 100%;
  }

  .detailContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .detailImg img {
    height: 20rem;
  }

  .detailContainer a {
    right: 10px;
    top: 350px;
  }
}
