.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 6rem);
  padding-top: 2rem;
}

.login::before {
  display: block;
  content: "";
  background: url("../../assets/pet.jpg") no-repeat center center;
  background-size: cover;
}

.form {
  background-color: #f8f8f8;
  padding: 6rem 3rem;
}

.form h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.form p {
  margin-top: 1rem;
}

.form p a {
  color: #006be8;
}

@media (max-width: 650px) {
  .login {
    grid-template-columns: 1fr;
  }

  .login::before {
    display: none;
  }

  .form {
    padding: 4rem 1rem;
  }
}
