.register h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.registerContainer {
  box-shadow: 0pc 2px 5px rgba(0, 0, 0, 0.4);
  padding: 1em 2rem;
  border-radius: 10px;
}

.registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.registerPessoais {
  margin-right: 1.5rem;
}

.registerPessoais h2,
.registerResidenciais h2 {
  margin-bottom: 1rem;
}

.registerphones {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.register p {
  margin-top: 1rem;
}

.register p a {
  color: #006be8;
}

@media (max-width: 720px) {
  .registerForm {
    grid-template-columns: 1fr;
  }

  .registerPessoais {
    margin-right: 0;
  }

  .registerphones {
    display: block;
  }
}
